* {
  margin:0;
  padding:0;
  border:0;
}

div#container {
  width:100%;
}

div#header {
  background-color:#F1F1F1;
  color:#0066CC;
  border-style:none;
  /*text-align:center;*/
  /*text-indent:10px;*/
  margin-bottom:10px;
  padding-top: 10px;
  height: 530px;
}

#header_right{
    display: inline-block;
    margin-top: 125px;
    margin-left: 12%;
    width: 30%;
}
#header_left{
    display: inline-block;
    width: 45%;
    float: left;
    padding-left: 14%;
    text-align:center;
}

#date{
    font-size: 30px;
}

div#main {
  margin:0 auto;
  padding-left:20px;
  padding-right:20px;
  height:auto!important;
  min-height:900px;
}

div#footer {
  text-align:center;
  background-color:#F1F1F1;
}

body {
  font: 14px 'Helvetica Neue', Helvetica, Arial,sans-serif;
}

p {
  padding:5px;
}

.mystate {
  font-size:16px;
  color:#606060;
  min-height:760px; /*（解决ie8.9.ff.chrome）*/
  *+height:100%;  /*（解决ie7）*/
  _height:760px; /*（解决ie6） ie6超出自动溢出 */
}

.title_text{
    font-size: 50px;
    padding-top: 10px;
}
h2 {
  margin-bottom:0;
  font-size:35px;
}

h3 {
  margin-bottom:0;
  font-size:25px;
}

a:link {
  color:#0000D0;
  font-weight:bold;
  text-decoration: none;
}

a:visited {
  color:#0000D0;
  font-weight:bold;
  text-decoration: none;
}

a:hover {
  color:#FF4500;
  text-decoration:underline;
}

#indexHead {
  text-align:center;
}

.stockTitle div h4 {
    font-weight: bold;
    font-size: 50px;
}

.stockData{
    font-size: 50px;
}

.stockData:nth-of-type(even){
    background-color: #eee;
}

.row [class ^="col-"] {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ddd;
    border: 1px solid rgba(86, 61, 124, .2);
    font-weight: bold;
}

#limit_up_count {
    color: red;
}
#limit_down_count {
    color: green;
}

.stock-code {
    text-align: right;
}
.stock-value {
    text-align: left;
}
.stock-buy {
    color: red;
}
.stock-sell {
    color: green;
}

#canvas{
    cursor: pointer;
}
